<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="#{s1.request.created.title}">S1 Request Created</title>

    <div th:if="false">
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="http://blackpeppersoftware.github.io/thymeleaf-fragment.js/thymeleaf-fragment.js" defer="defer"></script>
        <!--UX stuff here-->
    </div>

    <object th:replace="fragments/global_includes :: global_includes" th:remove="tag">...</object>
</head>
<body>

<div th:replace="fragments/oht_header :: header">...</div>

<main id="content" role="main" th:object="${details}">
    <div th:replace="fragments/alpha-banner :: alpha-banner">...</div>

    <div class="govuk-box-highlight">
        <div class="bold-large"><span th:text="#{s1.request.created.for}">S1 form created for </span>&nbsp;<span th:text="*{userFullName}">Harry Howard</span></div>
    </div>

    <span th:text="#{s1.request.copies.printed}">2 copies of this S1 and a cover letter will be printed for you.</span>
    <div th:replace="fragments/worked-on :: worked-on">...</div>

    <form action="/registration/s1-registration-request">
        <div class="form-group">
            <input class="button" type="submit" th:value="#{get.another.case}">
        </div>
    </form>
    <p>
        <a href="#" th:text="#{add.manual.request}">Add a manual request</a>
    </p>
    <a href="#" th:text="#{add.manual.registration}">Add a manual registration</a>
</main>

<div th:replace="fragments/footer :: footer">...</div>

</body>
</html>