<head th:fragment="global_includes" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="utf-8"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="/stylesheets/govuk-template.css" media="screen" rel="stylesheet"/>
    <link href="/stylesheets/govuk-template-print.css" media="print" rel="stylesheet"/>
    <link href="/stylesheets/fonts.css" media="all" rel="stylesheet"/>
    <link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/oht-application.css" media="screen" rel="stylesheet" type="text/css"/>

    <style type="text/css">
        :root #content > #right > .dose > .dosesingle,
        :root #content > #center > .dose > .dosesingle
        { display: none !important; }
    </style>

    <script src="/javascripts/vendor/details.polyfill.js"></script>
    <script src="/javascripts/vendor/jquery-1.11.3.js"></script>
    <script src="/javascripts/govuk/selection-buttons.js"></script>
</head>
