<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="#{s1-registration-request.title}">Registration Request</title>

    <div th:if="false">
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="http://blackpeppersoftware.github.io/thymeleaf-fragment.js/thymeleaf-fragment.js" defer="defer"></script>
        <!--UX stuff here-->
    </div>

    <object th:replace="fragments/global_includes :: global_includes" th:remove="tag">...</object>
</head>
<body>

<div th:replace="fragments/oht_header :: header">...</div>

<main id="content" role="main">
    <div th:replace="fragments/alpha-banner :: alpha-banner">...</div>
    <form
        method="post"
        th:action="@{/registration/s1-confirm-registration}"
        th:object="${registration}">
        <div class="column-three-thirds">
            <h1 class="heading-large"><span th:text="#{register.this.s1}">Register this S1</span><span class="heading-secondary"></span></h1>

            <div class="error-summary validation-summary" th:if="${#fields.hasErrors('*')}">
                <p th:text="#{errorSummary}" data-bsaid="errorSummary">
                    Errors exist on this page, fix them.
                </p>
            </div>

            <span th:text="#{deadline.for.registration}">The deadline for this registration is </span> <span th:text="*{#dates.format(dueDate, 'dd MMM yyyy')}">14 May 2017</span>.<br><br>
            <div th:replace="fragments/s1-info-details-request :: s1-info-details-request">...</div>
        </div>
        <br>
        <input class="button" type="submit" th:value="#{register.s1}">
    </form>
</main>

<div th:replace="fragments/footer :: footer">...</div>

</body>
</html>