<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="#{view.title}">OHT Registration</title>

    <div th:if="false">
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="http://blackpeppersoftware.github.io/thymeleaf-fragment.js/thymeleaf-fragment.js" defer="defer"></script>
        <!--UX stuff here-->
    </div>

    <object th:replace="fragments/global_includes :: global_includes" th:remove="tag">...</object>
</head>
<body>

<div th:replace="fragments/oht_header :: header">...</div>

<div id="content" role="main">
    <div th:replace="fragments/alpha-banner :: alpha-banner">...</div>

    <div class="grid-row">
        <div class="column-third">
            <div class="sidebar">
                <div class="sidebar-box">
                    <h3 class="heading-medium" th:text="#{current.cases}">Current Cases</h3>
                    <ul th:object="${allCases}" th:each="case : ${allCases}">
                        <li>
                            <a href="javascript:void(0);" th:onclick="'javascript:retrieveCase(\'' + ${case.caseId} + '\');'">Case: <span th:text="${case.caseId}"></span>, Definition: <span th:text="${case.processDefinitionId}"></span></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="column-two-thirds">
            <div id="caseResultsBlock">
            </div>
            <div id="documentResultsBlock">
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer">...</div>

<script type="text/javascript">
    function retrieveCase(caseId) {
        var url = '/view/case/' + caseId;
        $("#caseResultsBlock").html("");
        $("#documentResultsBlock").html("");
        $("#caseResultsBlock").load(url);
    }
    function retrieveDocument(caseId, documentId) {
        var url = '/view/case/' + caseId  + '/' + documentId;
        $("#documentResultsBlock").html("");
        $("#documentResultsBlock").load(url);
    }
</script>

</body>
</html>
